<template>
  <div class="container">
    <div class="todo__create">
      <div class="history-buttons">
        <button @click="revertChanges">
          Удалить изменения
        </button>
        <button @click="addChanges">
          Вернуть изменения
        </button>
      </div>
      <NoteForm
        :note="note"
        :todo="todo"
        @addTodo="addTodo"
        @revert="revertChanges"
        @add="addChanges"
        @writeHistory="isWriteNoteHistory = true"
      />
      <TodosList v-if="note.todos.length" :note="note" @editTodo="editTodo" @deleteTodo="deleteTodo" />
      <button @click="prepareAction('Go back?', 'back')">
        Back
      </button>
      <button v-if="this.$route.query.note" @click="prepareAction('Delete note?','deleteNote')">
        Delete
      </button>
      <button class="todo__create-form-group--button" @click="submit">
        Save
      </button>
    </div>
    <Modal v-if="showModal" :modal="modal" @close="showModal = false" @confirm="confirm" />
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import Modal from '@/components/Modals/modal'
import NoteForm from '@/components/Notes/Note-form'
import TodosList from '@/components/Notes/Todos-list'
import { ADD_NOTE, DELETE_NOTE, UPDATE_NOTE } from '~/constants/actions'
import { GET_NOTES } from '~/constants/getters'

export default {
  name: 'Create',
  components: { TodosList, NoteForm, Modal },
  data () {
    return {
      showModal: false,
      modal: {
        text: '',
        action: null
      },
      note: {
        title: '',
        todos: []
      },
      todo: {
        title: '',
        checked: false,
        edit: false
      },
      noteHistory: [],
      isWriteNoteHistory: true,
      historyCounter: 1
    }
  },
  computed: {
    ...mapGetters('notes', [GET_NOTES]),
    notes () {
      return this.GET_NOTES
    }
  },
  watch: {
    note: {
      handler (val) {
        if (val && this.isWriteNoteHistory) {
          const note = JSON.parse(JSON.stringify(this.note))
          this.noteHistory.push(note)
        }
      },
      deep: true
    }
  },
  mounted () {
    if (this.$route.query && this.$route.query.note) {
      this.getCurrentNote()
    }
  },
  methods: {
    ...mapActions('notes', [ADD_NOTE, UPDATE_NOTE, DELETE_NOTE]),
    // UPDATE OR CREATE NOTE
    submit () {
      this.$route.query && this.$route.query.note ? this.UPDATE_NOTE({ note: this.note, index: this.$route.query.note }) : this.ADD_NOTE(this.note)
      this.$router.push({ name: 'index' })
    },
    // ADD TODO_ TO NOTE
    addTodo () {
      this.note.todos.push({ ...this.todo })
      this.todo.title = ''
    },
    // DELETE TODO_ FROM NOTE
    deleteTodo (index) {
      this.note.todos.splice(index, 1)
    },
    // EDIT TODO_ IN NOTE
    editTodo (index) {
      this.note.todos[index].edit = !this.note.todos[index].edit
    },
    // LOAD CURRENT NOTE
    getCurrentNote () {
      const notes = JSON.parse(JSON.stringify(this.notes))
      this.note = notes[Number(this.$route.query.note)]
    },
    // PREPARE ACTION FOR CURRENT NOTE
    prepareAction (text, action) {
      this.modal.action = action
      this.modal.text = text
      this.showModal = true
    },
    // DELETE CURRENT NOTE
    deleteNote () {
      this.DELETE_NOTE(Number(this.$route.query.note))
      this.$router.push({ name: 'index' })
      this.showModal = false
    },
    back () {
      this.$router.push({ name: 'index' })
    },
    // CONFIRM ACTION
    confirm () {
      this[this.modal.action]()
    },
    // REVERT CHANGES
    revertChanges () {
      this.isWriteNoteHistory = false
      this.noteHistory.splice(this.noteHistory.length, 1)
      if (this.historyCounter < this.noteHistory.length) {
        this.historyCounter++

        this.note = this.noteHistory[this.noteHistory.length - this.historyCounter]
      }

      this.noteHistory.splice(this.noteHistory.length, 1)
    },
    // ADD CHANGES
    addChanges () {
      if (this.historyCounter <= this.noteHistory.length) {
        this.isWriteNoteHistory = false
        if (this.historyCounter !== 1) {
          this.historyCounter--
        }

        this.note = this.noteHistory[this.noteHistory.length - this.historyCounter]
      }

      this.noteHistory.splice(this.noteHistory.length, 1)
    }
  }
}
</script>
