<template>
  <div class="container">
    <div class="todo__wrapper">
      <div class="todo__header">
        <h3 class="todo__header-title">
          Notes ({{ notesLength }})
        </h3>
        <nuxt-link to="create" class="todo__header-btn">
          <font-awesome-icon icon="plus" />
        </nuxt-link>
      </div>
      <div class="todo__container">
        <Todo v-for="(note, index) in notes" :key="index" :note="note" :index="index" :delete-note="openConfirmWindow" />
      </div>
    </div>
    <Modal v-if="showModal" @close="showModal = false" @confirm="deleteNote" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { DELETE_NOTE } from '@/constants/actions'
import Modal from '@/components/Modals/modal'
import Todo from '@/components/Notes/Note'
import { GET_NOTES } from '~/constants/getters'

export default {
  components: { Modal, Todo },
  data () {
    return {
      showModal: false,
      deleteIndex: null
    }
  },
  computed: {
    ...mapGetters('notes', [GET_NOTES]),
    notes () {
      return this.GET_NOTES
    },
    notesLength () {
      return this.GET_NOTES.length
    }
  },
  methods: {
    ...mapActions('notes', [DELETE_NOTE]),
    openConfirmWindow (index) {
      this.showModal = true
      this.deleteIndex = index
    },
    deleteNote () {
      this.DELETE_NOTE(this.deleteIndex)
      this.deleteIndex = null
      this.showModal = false
    }
  }
}
</script>
