<template>
  <div class="container">
    <div class="todo__create">
      <form class="todo__create-form" @submit.prevent="submit">
        <div class="todo__create-form-group">
          <label class="todo__create-form-group--label">Title</label>
          <input v-model="note.title" class="todo__create-form-group--input" placeholder="Title">
        </div>
        <div class="todo__create-form-group">
          <label class="todo__create-form-group--label">Add todo</label>
          <input v-model="todo.title" class="todo__create-form-group--input" placeholder="Todo">
          <button class="todo__create-form-group--button" @click.prevent="addTodo">
            <font-awesome-icon icon="plus" />
          </button>
        </div>
        <button type="submit" class="todo__create-form-group--button">
          Save
        </button>
      </form>
      <div v-if="note.todos.length" class="todo__create-todos">
        Todos:
        <ul class="todo__create-todos--list">
          <li v-for="(todo, index) in note.todos" :key="index" class="todo__create-todos--item">
            <div>
              <input v-model="todo.checked" type="checkbox" class="todo__create-todos--checkbox">
              <span v-if="!todo.edit" :class="{ 'line-through': todo.checked }">
                {{ todo.title }}
              </span>
              <input v-else v-model="todo.title" class="todo__create-form-group--input border">
            </div>
            <div class="todo__create-todos--actions">
              <button class="todo__create-todos--actions--button">
                <font-awesome-icon :icon="todo.edit ? 'check' : 'edit'" @click="editTodo(index)" />
              </button>
              <button class="todo__create-todos--actions--button" @click="deleteTodo(index)">
                <font-awesome-icon icon="trash" />
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { ADD_NOTE, UPDATE_NOTE } from '~/constants/actions'
import { GET_NOTES } from '~/constants/getters'

export default {
  name: 'Create',
  data () {
    return {
      note: {
        title: '',
        todos: []
      },
      todo: {
        title: '',
        checked: false,
        edit: false
      }
    }
  },
  computed: {
    ...mapGetters('notes', [GET_NOTES]),
    notes () {
      return this.GET_NOTES
    }
  },
  // watch: {
  //   notes () {
  //     if (this.$route.query.note) {
  //       this.note = this.notes[Number(this.$route.query.note)]
  //     }
  //   }
  // },
  methods: {
    ...mapActions('notes', [ADD_NOTE, UPDATE_NOTE]),
    submit () {
      this.$route.query.note ? this.UPDATE_NOTE(this.note, this.$route.query.note) : this.ADD_NOTE(this.note)
    },
    addTodo () {
      this.note.todos.push({ ...this.todo })
      this.todo.title = ''
    },
    deleteTodo (index) {
      this.note.todos.splice(index, 1)
    },
    editTodo (index) {
      this.note.todos[index].edit = !this.note.todos[index].edit
    }
  }
}
</script>

<style scoped>

</style>
