<template>
  <div class="todo__item">
    <div class="todo__item-wrapper">
      <div>
        <span class="todo__item-title">
          {{ note.title }}
        </span>
        <ul class="todo__item-subitems">
          Todos:
          <li v-for="(todo, index) in note.todos.slice(0, 3)" :key="index" class="todo__item-subitem">
            <span :class="{ 'line-through': todo.checked }">
              {{ todo.title }}
            </span>
          </li>
          <li v-if="note.todos.length > 3" class="todo__item-subitem">
            ...
          </li>
        </ul>
      </div>
      <div class="todo__item-actions">
        <nuxt-link tag="button" :to="{ name: 'create', query: {note: index.toString()} }">
          <font-awesome-icon icon="edit" />
        </nuxt-link>
        <button @click="deleteNote(index)">
          <font-awesome-icon icon="trash" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: {
    // CURRENT NOTE
    note: {
      type: Object,
      default: () => {}
    },
    // CURRENT NOTE INDEX IN ARRAY
    index: {
      type: Number,
      default: null
    },
    // DELETE CURRENT NOTE
    deleteNote: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
