<template>
  <div class="todo__create-todos">
    Todos:
    <ul class="todo__create-todos--list">
      <li v-for="(todo, index) in note.todos" :key="index" class="todo__create-todos--item">
        <div>
          <input v-model="todo.checked" type="checkbox" class="todo__create-todos--checkbox">
          <span v-if="!todo.edit" :class="{ 'line-through': todo.checked }">
            {{ todo.title }}
          </span>
          <input v-else v-model="todo.title" class="todo__create-form-group--input border">
        </div>
        <div class="todo__create-todos--actions">
          <button class="todo__create-todos--actions--button">
            <font-awesome-icon :icon="todo.edit ? 'check' : 'edit'" @click="$emit('editTodo', index)" />
          </button>
          <button class="todo__create-todos--actions--button" @click="$emit('deleteTodo', index)">
            <font-awesome-icon icon="trash" />
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TodosList',
  props: {
    note: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
